AUTHORS
ChangeLog
*~
*.egg*
*.swp
*.pyc
*.log
.tox
.coverage*
cover
oslo.config.egg-info/
build/
doc/build/
doc/source/api/
dist/
.testrepository/
.project
.pydevproject
/doc/source/sample.config

# Files created by releasenotes build
releasenotes/build
